@page
@model MyScriptureJournal.Pages.Scriptures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="color_1">Index</h1>

<p>
    <a asp-page="Create">Click to Create a New Note</a>
</p>

<form>

        <div class="color_1">Select the Book</div>
        <select asp-for="BookSSelect" asp-items="Model.Notes">
            <option value="">All</option>
        </select>

        <div class="color_1">Filter by Note</div>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />

</form>

<table class="table">
    <thead class="text-warning">
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.Journal[0].FavoriteScripture)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Journal[0].EditionDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BookSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Journal[0].Book)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journal[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="color_1">
@foreach (var item in Model.Journal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteScripture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
